
body{
    font-family:"微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img,p{
    padding: 0;
    margin: 0;
}

.relative{position: relative;}

.section-preview{
    min-height: 550px;
}
.section-preview .preview{
    min-height: 350px;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover {
    background: #fff;
}

/*.nav > li:hover .dropdown-menu {display: block;}*/

.dropdown-menu-type{
    width: 320px;
}

.dropdown-menu-type li{
    float: left;
}

.dropdown-menu li a{
    padding: 3px 15px;
}

.red{
    color: red;
}

.fleft{
    float: left;
}
.fright{
    float: right;
}

.splash{
    padding: 40px 0 20px 0;
}

#car{
    position: fixed;
    right: 0;
    top: 190px;
    padding: 5px;
    border: 1px solid #d8d8d8;
    text-align: center;
}

.carname{
    display: block;
    padding-bottom: 5px;
}

#car .proimg img{
    width: 76px;
    height: 76px;
}

#car .proimg:hover{
    opacity: 0.8;
    cursor: pointer;
}

#car .link{
    position: absolute;
    left: 0;
    top: 0px;
    width: 76px;
    height: 76px;
}

#car .glyphicon-link{
    position: absolute;
    left: 33px;
    top: 33px;
}

#car .proname{
    /*position: absolute;*/
    /*top: 30px;*/
    /*left: 0;*/
    display: block;
    /*width: 100%;*/
    color: #666;
}

.hidden{
    display: none;
}

.show{
    display: block;
}